body {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: auto;
    align-items: center;
    height: 100vh;
    font-family: "Poppins";
    background-image: url('https://64.media.tumblr.com/6aef149c38190b4630dd49e987d34760/tumblr_obiapsPMYr1reqdtxo2_r1_640.gifv');
    background-size: cover;
    padding: 0;
}

.list-item-menu-head {
    box-sizing: border-box;
    border-radius: 4px;
    border-style: none;
    border-radius: 4px;
    border-width: 1px;
    border-color: rgb(0, 0, 0, 0.125);
    color: rgb(255, 255, 255);
    display: flex;
    background-color: #2FC5E0;
    line-height: 24px;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    font-family: "Poppins";
    font-size: 18px;
    font-weight: 500;
    height: 48px;
    line-height: 24px;
    text-align: left;
    text-size-adjust: 100%;
    width: 300px;
    align-items: center;
    padding-left: 20px;
}

.list-menu {
    border-style: none;
    border-radius: 4px;
    border-width: 1px;
    border-color: rgb(0, 0, 0, 0.125);
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    font-size: 16px;
    width: 300px;
    font-weight: 300;
    text-size-adjust: 100%;
    line-height: 24px;
    margin-bottom: 0px;
    padding-left: 0px;
    text-align: left;
    transition: 0.5s;
    transition-property: color;
}

.list-item-menu {
    cursor: pointer;
    display: flex;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 20px;
    padding-left: 20px;
    justify-content: space-between;
    text-align: left;
    position: relative;
    background-color: rgba(255, 255, 255, 0.322);
    color: rgb(73, 80, 87);
    text-decoration-color: rgb(197, 197, 197);
    text-decoration-line: none;
    text-decoration-thickness: auto;
    border-style: none;
    border-radius: 1px;
    border-width: 0.5px;
    border-color: rgb(0, 0, 0, 0.125);
    box-sizing: border-box;
}

.item-img {
    cursor: pointer;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 20px;
    padding-left: 20px;
    justify-content: center;
    text-align: left;
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(255, 255, 255, 0.322);
    color: rgb(73, 80, 87);
    text-decoration-color: rgb(197, 197, 197);
    text-decoration-line: none;
    text-decoration-thickness: auto;
    border-style: none;
    border-radius: 50%;
    border-width: 0.5px;
    border-color: rgb(0, 0, 0, 0.125);
    box-sizing: border-box;
}

.list-menu a:hover {
    background: #7CD9EB;
    color: white;
}

.img-menu {
    width: 24px;
    height: 24px;
    vertical-align: middle;
}

.profile-foto {
    width: 50%;
    height: auto;
    justify-content: center;
}

.collapsible {
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

.active,
.collapsible:hover {
    background: #7CD9EB;
    color: white;
}

.content {
    padding: 0 16px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: rgba(255, 255, 255, 0);
}

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}


/* Modal Content */

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border-radius: 20px;
    border: 1px solid #888;
    width: 25%;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.8s
}


/* The Close Button */

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}


/* Add Animation */

@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

.close:hover,
.close:focus {
    color: #e03b2fde;
    text-decoration: none;
    cursor: pointer;
}


/* Center the loader */

#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 120px;
    height: 120px;
    margin: -76px 0 0 -76px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


/* Add animation to "page content" */

.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
}

@-webkit-keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0
    }
    to {
        bottom: 0px;
        opacity: 1
    }
}

@keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0
    }
    to {
        bottom: 0;
        opacity: 1
    }
}

#myDiv {
    display: none;
    text-align: center;
}